@charset "utf-8";

@font-face {
	font-family: 'TALLDECO';
	src: url(../fonts/TALLDECO.TTF);
}

body{
    background: url(../img/bgTop01.jpg) center bottom no-repeat;
	background-size: cover;
	font-family: 'TALLDECO', cursive;
	color: #FFF;
	position: relative;
	text-align: center;
}

header{
	width: 100%;
	position: absolute;
	top: 15%;
}

header .title{
	font-size: 55px;
	line-height: 1.3;
	font-weight: normal;
	letter-spacing: 1px;
}

.secTop{
	background-color:rgba(0, 0, 0, 0.77);
	width: 100%;
	height: 100vh;
}

.go{
	position: fixed;
	bottom: 2%;
	left: 8%;
	font-size: 33px;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: 1px;
}